<div class="row mt-5">
  <div class="col-12 card shadow-sm p-5">
    <div class="container">
      <div class="row">
        <h3>{{name}}</h3>
      </div>
      <div class="row">
        <p>{{description}}</p>
      </div>
      <div class="row">
        {{#if url}}
        <div class="{{#if website}}col-lg-6 {{/if}}col-12 my-4 p-0">
          <div class="m-3">
            <h5>GitHub Repository</h5>
            <a class="w-100 no-overflow btn btn-outline-secondary p-3" href="{{url}}">{{url}}</a>
          </div>
        </div>
        {{/if}}
        {{#if website}}
        <div class="{{#if url}}col-lg-6 {{/if}}col-12 my-4 p-0">
          <div class="m-3">
            <h5>Website</h5>
            <a class="w-100 no-overflow btn btn-outline-secondary p-3" href="{{website}}">{{website}}</a>
          </div>
        </div>
        {{/if}}
      </div>

      {{#if contributors}}
      <div class="row mt-2">
        <h3>MEET THE TEAM</h3>
      </div>
      <div class="row mt-2">
        {{#each contributors}}
        {{>contributor}}
        {{/each}}
      </div>
      {{/if}}

      {{#if screenshots}}
      <div class="row mt-2">
        <h3>CHECKOUT THE VIEW</h3>
      </div>
      <div class="row mt-2">
        {{#each screenshots}}
        {{>screenshot}}
        {{/each}}
      </div>
      {{/if}}

      {{#if videos}}
      <div class="row mt-2">
        <h3>SEE IT IN ACTION</h3>
      </div>
      <div class="row mt-2">
        {{#each videos}}
        <video class="w-75 mx-auto rounded-md" controls>
          {{#each formats}}
          <source src="{{url}}" type="video/{{type}}">
          {{/each}}
          Your browser does not support the video tag.
        </video>
        {{/each}}
      </div>
      {{/if}}

    </div>
  </div>
</div>
