<div class="row mt-5">
    <div class="col-md-12 col-lg-4 p-5">
        <img class="img-thumbnail p-0 rounded-circle" src="./images/profile.jpg">
    </div>
    <div class="col-md-12 col-lg-8 p-5">
        <h2>Who are you?</h2>
        <article>
            <p>
                Hi, I'm Josiah! I am currently a student. I am learning full stack development through KU Coding Bootcamp. I am a software developer with years of experience in native Windows Desktop and Mobile applications. I live in Overbrook, Kansas. Please check out the projects below that I have made significant contributions too. Some of these projects others have helped out on as well and this is noted in the corresponding GitHub project under the Contributors section.
                <b>Please contact me via email at </b> <a href="mailto:josiahpowell@outlook.com">josiahpowell@outlook.com</a>.
            </p>
        </article>
    </div>
</div>
{{#each Projects}}
<div class="row mt-5">
    <div class="col-12 card p-5">
        <h3>{{name}}</h3><br>
        <p>{{description}}</p><br>
        <div class="container">
            <div class="row">
                {{#if url}}
                <div class="{{#if website}}col-lg-6 {{/if}}col-12">
                    <h5>GitHub Repository</h5>
                    <a class="w-100 no-overflow btn btn-outline-primary" href="{{url}}">{{url}}</a>
                </div>
                {{/if}}
                {{#if website}}
                    <div class="{{#if url}}col-lg-6 {{/if}}col-12">
                        <h5>Website</h5>
                        <a class="w-100 no-overflow btn btn-outline-primary" href="{{website}}">{{website}}</a>
                    </div>
                {{/if}}
            </div>

            {{#if contributors}}
            <div class="row mt-5">
                <h3>MEET THE TEAM</h3>
            </div>
            <div class="row mt-5">
            {{#each contributors}}
                {{>contributor}}
            {{/each}}
            </div>
            {{/if}}

            {{#if screenshots}}
            <div class="row mt-5">
                <h3>CHECKOUT THE VIEW</h3>
            </div>
            <div class="row mt-5">
            {{#each screenshots}}
                {{>screenshot}}
            {{/each}}
            </div>
            {{/if}}
            
        </div>
    </div>
</div>
{{/each}}