                <div class="row">
                    <div class="col-md-12 col-lg-3 p-5">
                        <img class="img-thumbnail rounded-circle" src="./images/profile.jpg">
                    </div>
                    <div class="col-md-12 card p-5 col-lg-9">
                        <section>
                            <h2>Who are you?</h2>
                            <p>I am currently learning full stack development through KU Coding Bootcamp.</p>
                            <p>I am a software developer with years of experience in native Windows Desktop and Mobile applications.</p>
                            <p>I live in Overbrook, Kansas.</p>
                            <p>Please check out the projects below that I have made significant contributions too. Some of these projects others have helped out on as well and this is noted in the corresponding GitHub project under the Contributors section.</p>
                            <b>Please contact me via email at </b> <a href="mailto:josiahpowell@outlook.com">josiahpowell@outlook.com</a>.
                        </section>
                    </div>
                </div>
                {{#each data}}    
                <div class="row">
                    <div class="col-12 card p-5 mt-4">
                        <h3>{{name}}</h3><br>
                        <p>{{description}}</p><br>
                        <div class="container">
                            <div class="row">
                                {{#if url}}
                                <div class="col-lg-6 col-md-12">
                                    <h5>GitHub Repository</h5>
                                    <a class="w-100 no-overflow btn btn-primary" href="{{url}}">{{url}}</a>
                                </div>
                                {{/if}}
                                {{#if website}}
                                    <div class="col-lg-6 col-md-12">
                                        <h5>Website</h5>
                                        <a class="w-100 no-overflow btn btn-primary" href="{{website}}">{{website}}</a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                            
                        </ul>
                    </div>
                </div>
                {{/each}}